<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/img/pandore_icon.ico"/>
    <link rel="stylesheet" type=text/css href="/static/css/logging.css">
    <title>Sniffer live console</title>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script>
        $(document).ready(function () {
            var output = document.getElementById('output');
            var xhr = new XMLHttpRequest();
            xhr.open('GET', 'log_stream', true);
            xhr.send();
            setInterval(function () {
                output.textContent = xhr.responseText;
            }, 500);
        });
    </script>
</head>
<body id="main">
<div class="row">
    <h2 align="center">Sniffer config</h2>
    <div>
        <table class="table">
            <tr><th>Pandore DB</th><th>Selected interface</th><th>Selected network</th></tr>
            <tr><td>db_IP</td><td>ETHXX</td><td>192.x.x.x</td></tr>
        </table>
    </div>
</div>
<div class="row">
    <h2 align="center">Logging will appear here:</h2>
    <div class="logging_window">
        <pre id="output"></pre>
    </div>
</div>
<div>
    <form method="post" action="/" class="controls">
        <input type="submit" name="submit_button" value="Start">
        <input type="submit" name="submit_button" value="Stop">
        <input type="submit" name="submit_button" value="Clear">
    </form>
</div>
<div class="api">
    <button onclick="location.href = '/api';">Go to API doc</button>
</div>
</body>
</html>