<html>
    <head>
        <title>{{ title }}</title>
    </head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	    <script src="static/js/signUp.js"></script>
    <body>
    <header>
        <a href="/view/a" class="active">Template A</a> |
        <a href="/view/b">Template B</a> |
        <a href="/view/c">Template C</a>
        <hr>
    </header>
    Template a
    </body>
</html>