<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>[SERVICE NAME] - Pandore</title>
        <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="../static/bootstrap/icon/bootstrap-icons.css">
        <link rel="stylesheet" href="../static/bootstrap/css/datatables.min.css">
		<script src="../static/jquery/jquery-3.6.0.min.js"></script>
        <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    </head>
    <body class="d-flex flex-column min-vh-100">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-imt-blue">
                <div class="container-fluid">
                    <a class="navbar-brand me-5" href="#">Pandore</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="saved_captures.html">Saved captures</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="services.html">Services</a>
                        </li>
                        </ul>
                        <span class="navbar-text">
                        3<sup>rd</sup> year project
                        </span>
                    </div>
                </div>
            </nav>
        </header>
        <content>
            <div class="container-fluid px-5 py-5">
                <h2>[SERVICE NAME]</h2>
                <hr />

                <div class="row mt-5">
                    <div class="col-sm-6">
                        <div class="card shadow mb-3">
                            <div class="card-body border-start border-imt-darkblue border-5 rounded-start">
                                <div class="row mb-5">
                                    <div class="col-sm">
                                        <span class="" style="font-size: 30px;">
                                            DNS(s)
                                          </span>
                                    </div>
                                    <div class="col-md-auto">
                                        <button class="btn btn-imt-green" data-bs-toggle="modal" data-bs-target="#modalAddDns">
                                            <span class="bi bi-plus"></span> Add a new DNS
                                        </button>
                                    </div>
                                </div>
                                <table class="table" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Value</th>
                                            <th width="1px"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>dns.custom.com</td>
                                            <td onmouseover=""style="cursor: pointer;" onclick="deleteDNS('dns.custom.com', 1)"><span class="bi bi-trash" style="color:red;"></span></td>
                                        </tr>
                                        <tr>
                                            <td>dns.other.com</td>
                                            <td onmouseover=""style="cursor: pointer;" onclick="deleteDNS('dns.other.com', 2)"><span class="bi bi-trash" style="color:red;"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card shadow mb-3">
                            <div class="card-body border-start border-imt-darkblue border-5 rounded-start">
                                <div class="row mb-5">
                                    <div class="col-sm">
                                        <span class="" style="font-size: 30px;">
                                            Server(s)
                                          </span>
                                    </div>
                                    <div class="col-md-auto">
                                        <button class="btn btn-imt-green" data-bs-toggle="modal" data-bs-target="#modalAddServer">
                                            <span class="bi bi-plus"></span> Add a new server
                                        </button>
                                    </div>
                                </div>
                                <table class="table" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Value</th>
                                            <th width="1px"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>10.35.78.21</td>
                                            <td onmouseover=""style="cursor: pointer;" onclick="deleteServer('10.35.78.21', 1)"><span class="bi bi-trash" style="color:red;"></span></td>
                                        </tr>
                                        <tr>
                                            <td>10.35.78.67</td>
                                            <td onmouseover=""style="cursor: pointer;" onclick="deleteServer('10.35.78.67', 2)"><span class="bi bi-trash" style="color:red;"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </content>
        <footer class="mt-auto bg-imt-green py-3 px-3">
            <div class="row">
                <div class="col-sm">
                    <img src="../image/logo_imt.png" style="max-height: 60px;">
                </div>
                <div class="col-sm text-white">
                    <div class="row d-flex justify-content-center">
                        Students : Clément LE GRUIEC, Salma CHAHMI, Nathan OLBORSKI & Hugo HOUILLON
                    </div>
                    <div class="row d-flex justify-content-center">
                        Professors : Xavier LAGRANGE & Julien SAINT MARTIN
                    </div>
                </div>
                <div class="col-sm">
                    
                </div>
            </div>
        </footer>

        <div class="modal fade" id="modalDeleteDns" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                  <form action="service.html" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete DNS</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <div class="text-danger"><p><strong>Do you really want to delete the following DNS ?</strong></p></div>
                        <div id="deleteDnsValue"></div>
                        <input type="hidden" name="deleteDnsID" id="deleteDnsID" value="">
                        <input type="hidden" name="actionType" id="actionType" value="deleteDns">                             
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                      </div>
                  </form>
              </div>
            </div>
        </div>

        <div class="modal fade" id="modalAddDns" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                  <form action="services.html" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title">New DNS for service [SERVICE NAME]</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <input type="hidden" name="actionType" id="actionType" value="addDns">
                        <input type="hidden" name="addDnsService" id="addDnsService" value="1">
                        <label for="addDnsValue"><strong>DNS value : </strong></label>
                        <input type="text" class="form-control" id="addDnsValue" name="addDnsValue">                          
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-imt-green">Validate</button>
                      </div>
                  </form>
              </div>
            </div>
        </div>

        <div class="modal fade" id="modalDeleteServer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                  <form action="service.html" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete server</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <div class="text-danger"><p><strong>Do you really want to delete the following server ?</strong></p></div>
                        <div id="deleteServerValue"></div>
                        <input type="hidden" name="deleteServerID" id="deleteServerID" value="">
                        <input type="hidden" name="actionType" id="actionType" value="deleteServer">                             
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                      </div>
                  </form>
              </div>
            </div>
        </div>

        <div class="modal fade" id="modalAddServer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                  <form action="services.html" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title">New server for service [SERVICE NAME]</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <input type="hidden" name="actionType" id="actionType" value="addServer">
                        <input type="hidden" name="addServerService" id="addServerService" value="1">
                        <label for="addServerValue"><strong>Server value : </strong></label>
                        <input type="text" class="form-control" id="addServerValue" name="addServerValue">                          
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-imt-green">Validate</button>
                      </div>
                  </form>
              </div>
            </div>
        </div>

    </body>
</html>

<script>

    function deleteDNS(dns, ID){
        document.getElementById('deleteDnsValue').innerHTML = '<strong>Value :</strong> ' + dns;
        document.getElementById('deleteDnsID').value = ID;
        $('#modalDeleteDns').modal('show');
    }

    function deleteServer(server, ID){
        document.getElementById('deleteServerValue').innerHTML = '<strong>Value :</strong> ' + server;
        document.getElementById('deleteServerID').value = ID;
        $('#modalDeleteServer').modal('show');
    }

</script>