<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Configuration - Pandore</title>
    <link rel="icon" href="/static/image/pandore_icon.ico" />
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/bootstrap/icon/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/bootstrap/css/datatables.min.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-select.min.css">
    <script src="/static/jquery/jquery-3.6.0.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/bootstrap/js/datatables.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap-select.min.js"></script>
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-imt-blue">
            <div class="container-fluid">
                <a class="navbar-brand me-5" href="#">Pandore</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/saved_captures">Saved captures</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/configuration">Configuration</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/sniffer_configuration">Sniffer configuration</a>
                        </li>
                    </ul>
                    <span class="navbar-text">
                        3<sup>rd</sup> year project
                    </span>
                </div>
            </div>
        </nav>
    </header>
    <content>
        <div class="container-fluid px-5 py-5">
            {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endif %}
            <div class="row mb-3">
                <div class="col">
                    <div class="card shadow mb-3">
                        <div class="card-body border-start border-imt-darkblue border-5 rounded-start">
                            <div class="row mb-5">
                                <span class="" style="font-size: 30px;">
                                    Application configuration
                                </span>
                            </div>
                            <form method="post">
                                <input type="hidden" name="actionType" id="actionType" value="editApplicationConfiguration">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <label for="sniffer_ip" class="form-label"><strong>Sniffer API address</strong></label>
                                            <input type="text" class="form-control" id="sniffer_ip_w" name="sniffer_api_address" max="1000" value="{{config.SNIFFER_API_ADDRESS}}" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <label for="analytics_timeout" class="form-label"><strong>Server automatic classification timeout</strong></label>
                                            <input type="number" class="form-control" id="analytics_timeout" name="analytics_timeout" aria-describedby="analytics_timeout_help" min="1" step="1" value="{{config.ANALYTICS_TIMEOUT}}" required>
                                            <div id="analytics_timeout_help" class="form-text">Maximum time in seconds to spend trying to find server associated service</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <label for="nutriscore_reference_frequency" class="form-label"><strong>Nutriscore reference value for frequency indicator</strong></label>
                                            <input type="number" class="form-control" id="nutriscore_reference_frequency" name="nutriscore_reference_frequency" aria-describedby="nutriscore_reference_frequency_help" min="1" step="1" value="{{config.NUTRISCORE_REFERENCE_FREQUENCY}}" required>
                                            <div id="nutriscore_reference_frequency_help" class="form-text">Reference mean time in seconds between two UE connections</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <label for="nutriscore_reference_debit" class="form-label"><strong>Nutriscore reference value for debit indicator</strong></label>
                                            <input type="number" class="form-control" id="nutriscore_reference_debit" name="nutriscore_reference_debit" aria-describedby="nutriscore_reference_debit_help" min="0.001" step="0.001" value="{{config.NUTRISCORE_REFERENCE_DEBIT}}" required>
                                            <div id="nutriscore_reference_debit_help" class="form-text">Reference debit in MB/s (download + upload)</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <label for="nutriscore_reference_diversity" class="form-label"><strong>Nutriscore reference value for diversity indicator</strong></label>
                                            <input type="number" class="form-control" id="nutriscore_reference_diversity" name="nutriscore_reference_diversity" aria-describedby="nutriscore_reference_diversity_help" min="1" step="1" value="{{config.NUTRISCORE_REFERENCE_DIVERSITY}}" required>
                                            <div id="nutriscore_reference_diversity_help" class="form-text">Reference number of distincts servers</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <label for="nutriscore_weight_frequency" class="form-label"><strong>Nutriscore frequency indicator coefficient for global score</strong></label>
                                            <input type="number" class="form-control" id="nutriscore_weight_frequency" name="nutriscore_weight_frequency" min="1" step="1" value="{{config.NUTRISCORE_WEIGHT_FREQUENCY}}" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <label for="nutriscore_weight_debit" class="form-label"><strong>Nutriscore debit indicator coefficient for global score</strong></label>
                                            <input type="number" class="form-control" id="nutriscore_weight_debit" name="nutriscore_weight_debit" min="1" step="1" value="{{config.NUTRISCORE_WEIGHT_DEBIT}}" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <label for="nutriscore_weight_diversity" class="form-label"><strong>Nutriscore diversity indicator coefficient for global score</strong></label>
                                            <input type="number" class="form-control" id="nutriscore_weight_diversity" name="nutriscore_weight_diversity" min="1" step="1" value="{{config.NUTRISCORE_WEIGHT_DIVERSITY}}" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <label for="nutriscore_sigmoide_slope" class="form-label"><strong>Nutriscore sigmoide slope</strong></label>
                                            <input type="number" class="form-control" id="nutriscore_sigmoide_slope" name="nutriscore_sigmoide_slope" min="0.01" max="1" step="0.01" value="{{config.NUTRISCORE_SIGMOIDE_SLOPE}}" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <label for="nutriscore_average_type" class="form-label"><strong>Nutriscore global score average type</strong></label>
                                            <select class="form-select" id="nutriscore_average_type" name="nutriscore_average_type" required>
                                                <option value="0" {{"selected" if config.NUTRISCORE_AVERAGE_TYPE != 1}}>Arithmetic</option>
                                                <option value="1" {{"selected" if config.NUTRISCORE_AVERAGE_TYPE == 1}}>Harmonic</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">

                                    </div>
                                    <div class="col-sm-4">

                                    </div>
                                </div>
                                <div class="text-end">
                                    <button type="submit" class="btn btn-imt-green">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm">
                            <div class="card shadow mb-3">
                                <div class="card-body border-start border-imt-darkblue border-5 rounded-start">
                                    <div class="row mb-5">
                                        <div class="col-sm">
                                            <span class="" style="font-size: 30px;">
                                                Services list
                                            </span>
                                        </div>
                                        <div class="col-md-auto">
                                            <button class="btn btn-imt-green" data-bs-toggle="modal" data-bs-target="#modalAddService">
                                                <span class="bi bi-plus"></span> Add new service
                                            </button>
                                        </div>
                                    </div>
                                    <table id="services" class="table table-hover" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th width="1px"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for service in allServices %}
                                            <tr onmouseover="" style="cursor: pointer;" onclick="window.location.href='service/{{service.ID}}'">
                                                <td>{{service.Name}}</td>
                                                <td><span class="bi bi-arrow-right-square-fill"></span></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card shadow mb-3">
                        <div class="card-body border-start border-imt-darkblue border-5 rounded-start">
                            <div class="row mb-5">
                                <div class="col-sm">
                                    <span class="" style="font-size: 30px;">
                                        Incomplete server(s)
                                    </span>
                                    <strong>Total : {{ unknownServers|length }}</strong>
                                </div>
                                <div class="col-md-auto">
                                    <form method="post">
                                        <input type="hidden" name="actionType" value="autoServerClassification" />
                                        <button class="btn btn-imt-green" type="submit" onclick="automaticClassification()">
                                            <span class="bi bi-gear-wide-connected"></span> Automatic classification
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table id="incompleteServers" class="table table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Value</th>
                                            <th>DNS</th>
                                            <th width="1px"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for server in unknownServers %}
                                        <tr onmouseover="" style="cursor: pointer;" onclick="assignServer('{{server.Address}}', {{ server.ID }}, {{ server.Service.ID or 0 }}, {{ server.DNS.ID or 0 }})">
                                            <td>{{server.Address}}</td>
                                            <td>{% if server.DNS %}{{ server.DNS.Value }}{% else %}<div class="text-danger">-</div>{% endif %}</td>
                                            <td><span class="bi bi-gear-fill"></span></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </content>
    <footer class="mt-auto bg-imt-green py-3 px-3">
        <div class="row">
            <div class="col-sm">
                <img src="/static/image/logo_imt.png" style="max-height: 60px;">
            </div>
            <div class="col-sm text-white">
                <div class="row d-flex justify-content-center">
                    Students : Clément LE GRUIEC, Salma CHAHMI, Nathan OLBORSKI & Hugo HOUILLON
                </div>
                <div class="row d-flex justify-content-center">
                    Professors : Xavier LAGRANGE & Julien SAINT MARTIN
                </div>
            </div>
            <div class="col-sm">

            </div>
        </div>
    </footer>

    <div class="modal fade" id="modalAssignServerDNS" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form method="post">
                    <input type="hidden" name="actionType" id="actionType" value="assignServerServiceDNS">
                    <input type="hidden" name="assignServerID" id="assignServerID" value="">
                    <input type="hidden" name="assignServerAddress" id="assignServerAddress" value="">
                    <div class="modal-header">
                        <h5 class="modal-title">Assign server to service</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="text-danger mb-3"><p><strong>Please assign the following server to an existing service and DNS</strong></p></div>
                        <div class="mb-3">
                            <div id="assignServerValue"></div>
                        </div>
                        <div class="mb-3">
                            <label for="assignServerService"><strong>Service : </strong></label>
                            <select class="selectpicker form-control" id="assignServerService" name="assignServerService" data-live-search="true" title="Select a service...">
                                {% for service in allServices %}
                                <option value="{{ service.ID }}">{{ service.Name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="assignServerDNS"><strong>DNS : </strong></label>
                            <select class="selectpicker form-control" id="assignServerDNS" name="assignServerDNS" data-live-search="true" title="Select a DNS...">
                                {% for dns in allDNS %}
                                <option value="{{ dns.ID }}">{{ dns.Value }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-imt-green">Validate</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalAddService" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form method="post">
                    <div class="modal-header">
                        <h5 class="modal-title">New service</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="actionType" id="actionType" value="addService">
                        <label for="addServiceName"><strong>Service name : </strong></label>
                        <input type="text" class="form-control" id="addServiceName" name="addServiceName">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-imt-green">Validate</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalAutoClassification" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form method="post">
                    <div class="modal-header">
                        <h5 class="modal-title">Automatic server classification</h5>
                    </div>
                    <div class="modal-body">
                        <p class="text-danger">This operation can take few minutes...</p>
                        <div id="analyticProgressLabel"></div>
                        <div class="progress">
                            <div id="progressbar-automatic-classification" class="progress-bar progress-bar-striped progress-bar-animated bg-imt-blue" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="{{ unknownServers|length }}" style="width: 0%"></div>
                        </div>
                        <div class="text-end mt-3">
                            <button type="button" class="btn btn-danger" onclick="stopAnalytics()">Stop</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>

<script>
    $('#assignServerService').selectpicker();
    $('#assignServerDNS').selectpicker();

    $(document).ready(function () {
        $.ajax({
            url: "get_analytics_running_status",
            type: "POST",
            async: false,
            success: function (response, textStatus, jqXHR) {
                if (response.length == 2) {
                    automaticClassification();
                }
            }
        });
    });

    $(document).ready(function() {
        $('#services').DataTable();
    });

    $(document).ready(function () {
        $('#incompleteServers').DataTable();
    });

    function assignServer(server, ID, service, dns){
        document.getElementById('assignServerValue').innerHTML = '<strong>Value :</strong> ' + server;
        document.getElementById('assignServerID').value = ID;
        document.getElementById('assignServerAddress').value = server;

        if (service > 0) {
            $('#assignServerService').val(service);
        }
        else {
            $('#assignServerService').val(-1);
        }

        if (dns > 0) {
            $('#assignServerDNS').val(dns);
        }
        else {
            $('#assignServerDNS').val(-1);
        }

        $('.selectpicker').selectpicker('refresh');
        $("#modalAssignServerDNS").modal('show');
    }

    function automaticClassification() {
        $("#modalAutoClassification").modal('show');
        var intervalId = window.setInterval(function () {
            $.ajax({
                url: "get_analytics_running_status",
                type: "POST",
                async: false,
                success: function (response, textStatus, jqXHR) {
                    if (response.length == 1) {
                        window.location = window.location.href;
                    }
                    else {
                        document.getElementById('analyticProgressLabel').innerHTML = '<p><strong>Progression : </strong>' + response[0] + '/' + response[1] + '</p>';
                        document.getElementById('progressbar-automatic-classification').setAttribute('aria-valuenow', response[0]);
                        document.getElementById('progressbar-automatic-classification').setAttribute('style', 'width:' + Number((parseInt(response[0]) / parseInt(response[1])) * 100) + '%');
                    }
                },
                error: function (err) {
                    window.location = window.location.href;
                }
            });
        }, 1000);
    }

    function stopAnalytics() {
        $.ajax({
            url: "stop_analytics",
            type: "POST",
            async: false,
            success: function (response, textStatus, jqXHR) {
                window.location = window.location.href;
                sleep(1000);
            },
            error: function (err) {
                window.location = window.location.href;
                sleep(1000);
            }
        });
    }
</script>