<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Capture in progress - Pandore</title>
    <link rel="icon" href="/static/image/pandore_icon.ico" />
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/bootstrap/icon/bootstrap-icons.css">
    <script src="/static/jquery/jquery-3.6.0.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/chart/amcharts4/core.js"></script>
    <script src="/static/chart/amcharts4/charts.js"></script>
    <script src="/static/chart/amcharts4/themes/animated.js"></script>
</head>
    <body class="d-flex flex-column min-vh-100">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-imt-blue">
                <div class="container-fluid">
                    <a class="navbar-brand me-5" href="#">Pandore</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/saved_captures">Saved captures</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/configuration">Configuration</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/sniffer_configuration">Sniffer configuration</a>
                            </li>
                        </ul>
                      <span class="navbar-text">
                      3<sup>rd</sup> year project
                      </span>
                  </div>
                </div>
            </nav>
        </header>
        <content>
          <div class="container-fluid px-5 py-5">
            <div class="row">
              <div class="col-sm-1">

              </div>
              <div class="col-sm-10">
                <div class="card shadow mb-3">
                  <div class="card-body border-start border-imt-darkblue border-5 rounded-start">
                      <div class="row">
                        <span class="bi bi-info-circle" style="font-size: 30px;">
                          Capture information
                        </span>
                      </div>
                      <div class="row mt-5 px-5">
                        <div class="col-sm-4 px-5 mb-5">
                          <h6 class="">Name</h6>
                          <hr />
                          <h3 class="mt-2 text-imt-blue" id="captureName">Name</h3>
                        </div>
                        <div class="col-sm-4 px-5 mb-5">
                          <h6 class="">Start date time</h6>
                          <hr />
                          <h3 class="mt-2 text-imt-green" id="captureStartTime">00/00/00 00:00:00</h3>
                          <p>(dd/MM/yyyy HH:mm:ss)</p>
                        </div>
                        <div class="col-sm-4 px-5">
                          <h6 class="">Duration</h6>
                          <hr />
                          <h3 class="mt-2 text-imt-blue" id="captureDuration">00:00:00</h3>
                          <p>(hh:mm:ss)</p>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-5">
                    <div class="card shadow mb-3">
                      <div class="card-body border-start border-imt-darkblue border-5 rounded-start">
                          <div class="row">
                            <span class="bi bi-arrow-left-right" style="font-size: 30px;">
                              Trafic
                            </span>
                          </div>
                          <div class="row mt-5 px-5">
                            <div class="col-sm-4 px-3 mb-5">
                              <h6 class="">
                                <span class="bi bi-arrow-down">
                                  Download
                                </span>
                              </h6>
                              <hr />
                              <h3 class="mt-2 text-imt-blue"><div id="downTrafic"></div> <sub><div id="downTraficUnit">B</div></sub></h3>
                            </div>
                            <div class="col-sm-4 px-3 mb-5">
                              <h6 class="">
                                <span class="bi bi-arrow-up">
                                  Upload
                                </span>
                              </h6>
                              <hr />
                              <h3 class="mt-2 text-imt-green"><div id="upTrafic"></div> <sub><div id="upTraficUnit">B</div></sub></h3>
                            </div>
                            <div class="col-sm-4 px-3">
                              <h6 class="">
                                <span class="bi bi-chevron-bar-contract">
                                  Ratio <sub>(Up/Down)</sub>
                                </span>
                              </h6>
                              <hr />
                              <h3 class="mt-2 text-imt-blue"><div id="traficRatio">0</div></h3>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-7">
                    <div class="card shadow mb-3">
                      <div class="card-body border-start border-imt-darkblue border-5 rounded-start">
                          <div class="row">
                            <span class="bi bi-activity" style="font-size: 30px;">
                              Services
                            </span>
                          </div>
                          <div class="row">
                              <div id="serviceChart" style="height: 600px; width: 100%;"></div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-1">
                
              </div>
            </div>     
          </div>
        </content>
        <footer class="mt-auto bg-imt-green py-3 px-3">
            <div class="row">
                <div class="col-sm">
                    <img src="/static/image/logo_imt.png" style="max-height: 60px;">
                </div>
                <div class="col-sm text-white">
                    <div class="row d-flex justify-content-center">
                        Students : Clément LE GRUIEC, Salma CHAHMI, Nathan OLBORSKI & Hugo HOUILLON
                    </div>
                    <div class="row d-flex justify-content-center">
                        Professors : Xavier LAGRANGE & Julien SAINT MARTIN
                    </div>
                </div>
                <div class="col-sm">
                    
                </div>
            </div>
        </footer>
    </body>
</html>

<script>

    ajaxError = false;

    amchart = null;

    am4core.ready(function () {

        // Themes begin
        am4core.useTheme(am4themes_animated);
        // Themes end

        var chart = am4core.create("serviceChart", am4charts.RadarChart);
        chart.hiddenState.properties.opacity = 0; // this creates initial fade-in

        var label = chart.createChild(am4core.Label);
        label.exportable = false;
        amchart = chart;
        chart.data = [];
        chart.radius = am4core.percent(80);
        chart.startAngle = 270 - 180;
        chart.endAngle = 270 + 180;
        chart.innerRadius = am4core.percent(30);

        var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
        categoryAxis.dataFields.category = "category";
        categoryAxis.renderer.labels.template.location = 0.5;
        categoryAxis.renderer.grid.template.strokeOpacity = 0.1;
        categoryAxis.renderer.axisFills.template.disabled = true;
        categoryAxis.mouseEnabled = false;

        var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
        valueAxis.tooltip.disabled = true;
        valueAxis.renderer.grid.template.strokeOpacity = 0.05;
        valueAxis.renderer.axisFills.template.disabled = true;
        valueAxis.renderer.axisAngle = 260;
        valueAxis.renderer.labels.template.horizontalCenter = "right";
        valueAxis.min = 0;

        var series1 = chart.series.push(new am4charts.RadarColumnSeries());
        series1.columns.template.radarColumn.strokeOpacity = 1;
        series1.name = "Download (MB)";
        series1.dataFields.categoryX = "category";
        series1.columns.template.tooltipText = "{name}: {valueY.value}";
        series1.dataFields.valueY = "value1";
        series1.stacked = true;
        series1.columns.template.fill = am4core.color('#afcb37');
        series1.columns.template.stroke = am4core.color('#afcb37');

        var series2 = chart.series.push(new am4charts.RadarColumnSeries());
        series2.columns.template.radarColumn.strokeOpacity = 1;
        series2.columns.template.tooltipText = "{name}: {valueY.value}";
        series2.name = "Upload (MB)";
        series2.dataFields.categoryX = "category";
        series2.dataFields.valueY = "value2";
        series2.stacked = true;
        series2.columns.template.fill = am4core.color('#00b5d5');
        series2.columns.template.stroke = am4core.color('#00b5d5');

        chart.seriesContainer.zIndex = -1;

    }); // end am4core.ready()

    var intervalId = window.setInterval(function () {
        console.log((new Date()).toLocaleTimeString('fr-FR'));
        if (!ajaxError) {
            $.ajax({
                url: "get_running_capture",
                type: "POST",
                async: false,
                success: function (response, textStatus, jqXHR) {
                    if (response.running == "0") {
                        ajaxError = true;
                        location.reload();
                    }
                    else {
                        date = new Date(response.startTime);
                        document.getElementById('captureName').innerHTML = response.name;
                        document.getElementById('captureDuration').innerHTML = response.duration;
                        document.getElementById('downTrafic').innerHTML = response.downTrafic;
                        document.getElementById('upTrafic').innerHTML = response.upTrafic;
                        document.getElementById('downTraficUnit').innerHTML = response.downTraficUnit;
                        document.getElementById('upTraficUnit').innerHTML = response.upTraficUnit;
                        document.getElementById('traficRatio').innerHTML = response.ratio;
                        document.getElementById('captureStartTime').innerHTML = date.toLocaleDateString('fr-FR') + ' ' + date.toLocaleTimeString('fr-FR');
                        if (amchart != null) {
                            data = [];
                            for (var i = 0; i < response.stats.length; i++) {
                                data.push({ category: response.stats[i][0], value1: response.stats[i][2], value2: response.stats[i][1] });
                            }
                            amchart.data = data;
                        }
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    ajaxError = true;
                    location.reload();
                }
            });
        }
        console.log((new Date()).toLocaleTimeString('fr-FR'));
    }, 1000);

    
</script>