<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Saved captures - Pandore</title>
    <link rel="icon" href="/static/image/pandore_icon.ico" />
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/bootstrap/icon/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/bootstrap/css/datatables.min.css">
    <script src="/static/jquery/jquery-3.6.0.min.js"></script>
    <script src="/static/bootstrap/js/datatables.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>

</head>
    <body class="d-flex flex-column min-vh-100">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-imt-blue">
                <div class="container-fluid">
                    <a class="navbar-brand me-5" href="#">Pandore</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/saved_captures">Saved captures</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/configuration">Configuration</a>
                            </li>
                        </ul>
                        <span class="navbar-text">
                        3<sup>rd</sup> year project
                        </span>
                    </div>
                </div>
            </nav>
        </header>
        <content>
            <div class="container-fluid px-5 py-5">
                <div class="card shadow mb-3">
                    <div class="card-body border-start border-imt-darkblue border-5 rounded-start">
                        <div class="row mb-5">
                            <span class="" style="font-size: 30px;">
                                Saved captures
                            </span>
                        </div>
                        <table id="captures" class="table table-hover" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Start time</th>
                                    <th>Name</th>
                                    <th>End time</th>
                                    <th style="width:1px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for capture in captures %}
                                <tr onmouseover="" style="cursor: pointer;" onclick="window.location.href='saved_capture/{{capture[0]}}'">
                                    <td>{{capture[2].strftime('%d/%m/%Y %H:%M:%S')}}</td>
                                    <td>{{capture[1]}}</td>
                                    <td>{{capture[3].strftime('%d/%m/%Y %H:%M:%S')}}</td>
                                    <td><span class="bi bi-arrow-right-square-fill"></span></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </content>
        <footer class="mt-auto bg-imt-green py-3 px-3">
            <div class="row">
                <div class="col-sm">
                    <img src="/static/image/logo_imt.png" style="max-height: 60px;">
                </div>
                <div class="col-sm text-white">
                    <div class="row d-flex justify-content-center">
                        Students : Clément LE GRUIEC, Salma CHAHMI, Nathan OLBORSKI & Hugo HOUILLON
                    </div>
                    <div class="row d-flex justify-content-center">
                        Professors : Xavier LAGRANGE & Julien SAINT MARTIN
                    </div>
                </div>
                <div class="col-sm">
                    
                </div>
            </div>
        </footer>
    </body>
</html>

<script>
    $(document).ready(function() {
        $('#captures').DataTable();
    } );
</script>