<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Capture details - {{capture.Name}} - Pandore</title>
    <link rel="icon" href="/static/image/pandore_icon.ico" />
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/bootstrap/icon/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/bootstrap/css/datatables.min.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-select.min.css">
    <script src="/static/jquery/jquery-3.6.0.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/bootstrap/js/datatables.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap-select.min.js"></script>
    <script src="/static/chart/amcharts4/core.js"></script>
    <script src="/static/chart/amcharts4/charts.js"></script>
    <script src="/static/chart/amcharts4/themes/animated.js"></script>
</head>
    <body class="d-flex flex-column min-vh-100">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-imt-blue">
                <div class="container-fluid">
                    <a class="navbar-brand me-5" href="#">Pandore</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="/index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/saved_captures">Saved captures</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/configuration">Configuration</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/sniffer_configuration">Sniffer configuration</a>
                            </li>
                        </ul>
                      <span class="navbar-text">
                      3<sup>rd</sup> year project
                      </span>
                  </div>
                </div>
            </nav>
        </header>
        <content>
            <div class="container-fluid px-5 py-5">
                <div class="card shadow mb-3">
                    <div class="card-body border-start border-imt-darkblue border-5 rounded-start">
                        <div class="row">
                            <span class="bi bi-info-circle" style="font-size: 30px;">
                                Capture information
                            </span>
                        </div>
                        <div class="row mt-5 px-5">
                            <div class="col-sm-3 px-5 mb-5">
                                <h6 class="">Name</h6>
                                <hr />
                                <h5 class="mt-2 text-imt-blue">{{capture.Name}}</h5>
                            </div>
                            <div class="col-sm-3 px-5 mb-5">
                                <h6 class="">Start date time</h6>
                                <hr />
                                <h5 class="mt-2 text-imt-green">{{capture.StartTime.strftime('%d/%m/%Y %H:%M:%S')}}</h5>
                                <p>(dd/MM/yyyy HH:mm:ss)</p>
                            </div>
                            <div class="col-sm-3 px-5">
                                <h6 class="">Duration</h6>
                                <hr />
                                <h5 class="mt-2 text-imt-blue">{{duration}}</h5>
                                <p>(hh:mm:ss)</p>
                            </div>
                            <div class="col-sm-3 px-5">
                                <h6 class="">Score</h6>
                                <hr />
                                <span class="badge" style="background-color: rgba(0, 150, 0, {{ 1 if score == "A" else 0.2}});"><p class="h{{ "1" if score == "A" else "3"}} text-white">A</p></span>
                                <span class="badge" style="background-color: rgba(103, 141, 0, {{ 1 if score == "B" else 0.2}});"><p class="h{{ "1" if score == "B" else "3"}} text-white">B</p></span>
                                <span class="badge" style="background-color: rgba(161, 123, 0, {{ 1 if score == "C" else 0.2}});"><p class="h{{ "1" if score == "C" else "3"}} text-white">C</p></span>
                                <span class="badge" style="background-color: rgba(212, 92, 0, {{ 1 if score == "D" else 0.2}});"><p class="h{{ "1" if score == "D" else "3"}} text-white">D</p></span>
                                <span class="badge" style="background-color: rgba(255, 0, 0, {{ 1 if score == "E" else 0.2}});"><p class="h{{ "1" if score == "E" else "3"}} text-white">E</p></span>
                            </div>
                        </div>
                        <div class="row mt-5 px-5">
                            <div class="col-sm-4 px-5 mb-5">
                                <h6 class="">Description</h6>
                                <hr />
                                <h5 class="mt-2 text-imt-green">{{capture.Description}}</h5>
                            </div>
                            <div class="col-sm-4 px-5 mb-5">
                                <h6 class="">Total download</h6>
                                <hr />
                                <h5 class="mt-2 text-imt-blue">{{down_trafic}} <sub>{{down_unit}}</sub></h5>
                            </div>
                            <div class="col-sm-4 px-5">
                                <h6 class="">Total upload</h6>
                                <hr />
                                <h5 class="mt-2 text-imt-green">{{up_trafic}} <sub>{{up_unit}}</sub></h5>
                            </div>
                        </div>
                    </div>
                </div>
                {% if (requests | length) > 0 %}
                <div class="card shadow mb-3">
                    <div class="card-body border-start border-imt-darkblue border-5 rounded-start">
                        <div class="row">
                            <span class="bi bi-graph-up" style="font-size: 30px;">
                                Requests history
                            </span>
                        </div>
                        <div class="row mt-5 px-5">
                            <div id="requestHistoryChart" style="height: 20vh; width: 100%;"></div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-5">
                        <div class="card shadow mb-3">
                            <div class="card-body border-start border-imt-darkblue border-5 rounded-start">
                                <div class="row">
                                    <span class="bi bi-activity" style="font-size: 30px;">
                                        Services
                                    </span>
                                </div>
                                <div class="row">
                                    <div id="serviceChart" style="height: 40vh; width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="card shadow mb-3">
                            <div class="card-body border-start border-imt-darkblue border-5 rounded-start">
                                <div class="row">
                                    <span class="bi bi-journal-code" style="font-size: 30px;">
                                        Capture details
                                    </span>
                                </div>
                                <div class="row mt-5 px-2">
                                    <div class="table-responsive">
                                        <table id="details" class="table" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Size</th>
                                                    <th>Direction</th>
                                                    <th>Protocol</th>
                                                    <th>Server</th>
                                                    <th>DNS</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for request in requests %}
                                                <tr>
                                                    <td>{{request.DateTime.strftime('%d/%m/%Y %H:%M:%S')}}</td>
                                                    <td>{{request.PacketSize}} B</td>
                                                    <td>
                                                        {% if request.Direction %}
                                                        <span class="badge bg-imt-green">Up</span>
                                                        {% else %}
                                                        <span class="badge bg-imt-blue">Down</span>
                                                        {% endif %}
                                                    </td>
                                                    <td>{{request.Protocol}}</td>
                                                    <td>{{request.ServerValue}}</td>
                                                    <td>
                                                        {% if request.DNSValue %}
                                                        {{request.DNSValue}}
                                                        {% else %}
                                                        -
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </content>
        <footer class="mt-auto bg-imt-green py-3 px-3">
            <div class="row">
                <div class="col-sm">
                    <img src="/static/image/logo_imt.png" style="max-height: 60px;">
                </div>
                <div class="col-sm text-white">
                    <div class="row d-flex justify-content-center">
                        Students : Clément LE GRUIEC, Salma CHAHMI, Nathan OLBORSKI & Hugo HOUILLON
                    </div>
                    <div class="row d-flex justify-content-center">
                        Professors : Xavier LAGRANGE & Julien SAINT MARTIN
                    </div>
                </div>
                <div class="col-sm">
                    
                </div>
            </div>
        </footer>
    </body>
</html>

<script>
    {% if (requests | length) > 0 %}
    $(document).ready(function () {
        $('#details').DataTable();
    });

    am4core.ready(function () {

        // REQUEST HISTORY CHART
        am4core.useTheme(am4themes_animated);

        // Create chart instance
        var chart = am4core.create("requestHistoryChart", am4charts.XYChart);

        chart.marginRight = 400;

        // Add data
        chart.data = [
            {% for req in requests_history %}
                {
            "time": {{ req }},
        "nbreq": {{ requests_history[req] }}
                     },
        {% endfor %}
        {}
            ];

    //console.log('chart', chart);

    // Create axes
    var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
    categoryAxis.dataFields.category = "time";
    categoryAxis.title.text = "Time ({{request_history_unit}})";
    categoryAxis.renderer.grid.template.location = 0;
    categoryAxis.renderer.minGridDistance = 50;

    var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
    valueAxis.title.text = "Number of requests";

    // Create series
    var series = chart.series.push(new am4charts.ColumnSeries());
    series.dataFields.valueY = "nbreq";
    series.dataFields.categoryX = "time";
    series.name = "Number of requests";
    series.tooltipText = "{name}: [bold]{valueY}[/]";
    series.stacked = true;
    series.columns.template.fill = am4core.color('#afcb37');
    series.columns.template.stroke = am4core.color('#afcb37');

    // Add cursor
    chart.cursor = new am4charts.XYCursor();

    // SERVICE CHART
    am4core.useTheme(am4themes_animated);
    var chart = am4core.create("serviceChart", am4charts.RadarChart);
    chart.hiddenState.properties.opacity = 0; // this creates initial fade-in

    var label = chart.createChild(am4core.Label);
    label.exportable = false;

    chart.data = [
        {% for stat in stats %}
    {
        {% if stat[0] %}
        category: "{{stat[0]}}",
            {% else %}
    category: "Unknown",
        {% endif %}
    value1: {{ stat[2] }},
    value2: {{ stat[1] }}
                } {%if stat != stats[(stats | length) - 1] %}, {% endif %}
    {% endfor %}
    ];
    chart.radius = am4core.percent(80);
    chart.startAngle = 270 - 180;
    chart.endAngle = 270 + 180;
    chart.innerRadius = am4core.percent(30);

    var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
    categoryAxis.dataFields.category = "category";
    categoryAxis.renderer.labels.template.location = 0.5;
    categoryAxis.renderer.grid.template.strokeOpacity = 0.1;
    categoryAxis.renderer.axisFills.template.disabled = true;
    categoryAxis.mouseEnabled = false;

    var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
    valueAxis.tooltip.disabled = true;
    valueAxis.renderer.grid.template.strokeOpacity = 0.05;
    valueAxis.renderer.axisFills.template.disabled = true;
    valueAxis.renderer.axisAngle = 260;
    valueAxis.renderer.labels.template.horizontalCenter = "right";
    valueAxis.min = 0;

    var series1 = chart.series.push(new am4charts.RadarColumnSeries());
    series1.columns.template.radarColumn.strokeOpacity = 1;
    series1.name = "Download (MB)";
    series1.dataFields.categoryX = "category";
    series1.columns.template.tooltipText = "{name}: {valueY.value}";
    series1.dataFields.valueY = "value1";
    series1.stacked = true;
    series1.columns.template.fill = am4core.color('#00b5d5');
    series1.columns.template.stroke = am4core.color('#00b5d5');

    var series2 = chart.series.push(new am4charts.RadarColumnSeries());
    series2.columns.template.radarColumn.strokeOpacity = 1;
    series2.columns.template.tooltipText = "{name}: {valueY.value}";
    series2.name = "Upload (MB)";
    series2.dataFields.categoryX = "category";
    series2.dataFields.valueY = "value2";
    series2.stacked = true;
    series2.columns.template.fill = am4core.color('#afcb37');
    series2.columns.template.stroke = am4core.color('#afcb37');

    chart.seriesContainer.zIndex = -1;

    });
    {% endif %}
</script>