<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sniffer configuration - Pandore</title>
    <link rel="icon" href="/static/image/pandore_icon.ico" />
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/bootstrap/icon/bootstrap-icons.css">
    <script src="/static/jquery/jquery-3.6.0.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-imt-blue">
            <div class="container-fluid">
                <a class="navbar-brand me-5" href="#">Pandore</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/saved_captures">Saved captures</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/configuration">Configuration</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/sniffer_configuration">Sniffer configuration</a>
                        </li>
                    </ul>
                    <span class="navbar-text">
                        3<sup>rd</sup> year project
                    </span>
                </div>
            </div>
        </nav>
    </header>
    <content>
        <div class="container-fluid px-5 py-5">
            <div class="row justify-content-md-center">
                <div class="col-sm-4">
                    {% if error %}
                    <div class="alert alert-danger mb-3" role="alert">
                        {{ error }}
                    </div>
                    {% endif %}
                    {% if success %}
                    <div class="alert alert-success mb-3" role="alert">
                        {{ success }}
                    </div>
                    {% endif %}
                    <div class="card shadow mb-3">
                        <div class="card-body border-start border-imt-darkblue border-5 rounded-start">
                            <div class="row mb-5">
                                <span class="" style="font-size: 30px;">
                                    Sniffer configuration
                                </span>
                            </div>
                            <form method="post">
                                <div class="mb-3">
                                    <label for="db_host" class="form-label"><strong>Database Host</strong></label>
                                    <input type="text" class="form-control" id="db_host" name="db_host" value="{{snifferConfiguration['database']['db_host']}}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="db_port" class="form-label"><strong>Database Port</strong></label>
                                    <input type="number" class="form-control" id="db_port" name="db_port" min="1" max="65535" value="{{snifferConfiguration['database']['db_port']}}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="db_user" class="form-label"><strong>Database User</strong></label>
                                    <input type="text" class="form-control" id="db_user" name="db_user" value="{{snifferConfiguration['database']['db_user']}}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="db_password" class="form-label"><strong>Database Password</strong></label>
                                    <input type="text" class="form-control" id="db_password" name="db_password" value="{{snifferConfiguration['database']['db_password']}}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="db_name" class="form-label"><strong>Database Name</strong></label>
                                    <input type="text" class="form-control" id="db_name" name="db_name" value="{{snifferConfiguration['database']['db']}}" required>
                                </div>
                                <div class="text-end">
                                    <button type="submit" class="btn btn-imt-green">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </content>
    <footer class="mt-auto bg-imt-green py-3 px-3">
        <div class="row">
            <div class="col-sm">
                <img src="/static/image/logo_imt.png" style="max-height: 60px;">
            </div>
            <div class="col-sm text-white">
                <div class="row d-flex justify-content-center">
                    Students : Clément LE GRUIEC, Salma CHAHMI, Nathan OLBORSKI & Hugo HOUILLON
                </div>
                <div class="row d-flex justify-content-center">
                    Professors : Xavier LAGRANGE & Julien SAINT MARTIN
                </div>
            </div>
            <div class="col-sm">

            </div>
        </div>
    </footer>
</body>
</html>